include TODO
include AUTHORS
include LICENSE
include README.md
include MANIFEST.in
include ChangeLog
include youtube-dl-gui.1

include tests/*.py
include devscripts/*
include docs/*

include youtube_dl_gui/data/pixmaps/icons-license

recursive-include youtube_dl_gui/data *.png *.ico
recursive-include youtube_dl_gui/locale *.po

recursive-exclude youtube_dl_gui/locale *.mo
