include youtube_dl_gui/data/pixmaps/icons-license
include youtube_dl_gui/data/formats
include README.md
include AUTHORS
include LICENSE
include TODO

include tests/*.py
include locale_build/*

recursive-include youtube_dl_gui/data *.png *.ico *.icns
recursive-include youtube_dl_gui/locale *.mo *.po
