a {
  color: #FFFFFF;
  display: table;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #2222CC;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
  margin: 0.2em 0 0.2em -2.5em;
}

p a {
  display: inline;
  font-style: italic;
}

td {
  padding-bottom: 3%;
}

ul a:hover {
  text-decoration: none;
}

.centre * {
  margin: 0 auto;
  text-align: center;
}

.button {
  border: 0.1em solid white;
  border-radius: 0.4em;
  margin-bottom: 1vw;
  margin-top: 2vw;
  padding: 1.2vw;
}

.button:hover {
  background-color: #2844CC;
  text-decoration: none;
}

.content_box {
  background-color: #FFFFFF;
  padding-bottom: 2%;
  padding-top: 2%;
}

.content {
  margin: 0 auto;
  max-width: 50%;
}

.content * {
  color: #474747;
}

.content a {
  font-weight: normal;
}

.content h1 {
  font-family: "Architects Daughter", "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 200%;
}

.content h1:before {
  color: #9DDCFF;
  content: "//";
  margin-left: -4%;
  padding-right: 2%;
}

.content img {
  width: 100%;
}

.downloads li {
  padding: 0.6em 0 0.6em 2.5em;
}

.footer {
  margin-bottom: 2%;
  margin-top: 2%;
}

.header_box {
  height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

.header h1 {
  font-size: 280%;
  margin-bottom: 2vw;
}

.header h2 {
  font-size: 150%;
  font-weight: normal;
}

.instruction {
  background-color: #F1F1F1;
  display: inline;
  font-family: courier;
  font-size: 90%;
  margin-left: 0.3em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.instruction_desc {
  font-weight: bold;
}

.link {
  color: #388ECC;
}

.link:hover {
  color: #49B9CC;
}

.logo {
  display: block;
  height: 8em;
  width: 8em;
}

.requirements li {
  color: #59ADDB;
  font-weight: bold;
}

.top_right {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2% 2% 0 auto;
}

/* Resources */

.zip { background: url("resources/zip.png") no-repeat; }

.tar { background: url("resources/tar.png") no-repeat; }

.win { background: url("resources/win.png") no-repeat; }

.arch { background: url("resources/arch.png") no-repeat; }

.ubuntu { background: url("resources/ubuntu.png") no-repeat; }

.slack { background: url("resources/slack.png") no-repeat; }

.pypi { background: url("resources/python.png") no-repeat; }
